.thewindow {
    width: 400px;
    height: 400px;
    position: fixed;
    background: white;
    z-index: 9999;
    margin: 10% 35%;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    color: white;
    background: #22225c;
    animation: 0.3s ease-out 0s 1 slideInLeft;
    
}

.closebutton {
    right: 10px;
    position: absolute;
    top: 10px;
    font-size: 22px;
    padding: 5px;
    transition: 0.5s rotate, 0.5s color;
}

.closebutton:hover {
    color: red;
    rotate: 180deg;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
}

.inputurname {
    font-size: 22px;
}

.inputs input {
    border: none;
    background: none;
    color: #fff;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 22px;
    padding: 4px 10px;
    text-align: center;
}

.inputs input:focus {
    outline: none;
}

@keyframes slideInLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }